<tr>
   <table>
       <tr>
           <th>
               <%= d %>
           </th>
       </tr>
       <% for(let i in let) { %>
           <tr>
               <td>
                   <%= let[i] %>
               </td>
           </tr>
       <% } %>
   </table>
</tr>
