<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link type="text/css" href="./style.css" rel="stylesheet">
  <title>Index</title>
</head>

<body>
  <head>
    <h1><%= title %></h1>
  </head>
  <div class="main">
    <p><%= title %></p>
    <p><%= content %></p>
  </div>
</body>
</html>
