<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" href="./style.css" rel="stylesheet">
    <title>LOGIN</title>
    <script>
        function setId() {
            let id = document.querySelector('#id_input').value;
            localStorage.setItem('id', id);
        }
    </script>
</head>

<body>
<head>
    <h1>LOGIN</h1>
</head>
<div role="main">
    <p>あなたのログインネームを入力してください</p>
    <p>
        <input type="text" id="id_input">
        <button onclick="setId();">送信</button>
    </p>
    <a href="/other">otherへのリンク</a>
</div>
</body>
</html>
